.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 101;
  overflow: auto;
}

.modal {
  width: 1000px;
  margin: 2% auto;
  position: relative;
  padding: 40px 30px;
  background: #fff;
  border-radius: 10px;
  color: #000;

  &:focus {
    outline: none;
  }
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.cross {
  position: absolute;
  top: -24px;
  right: -12px;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #818ba4;
  }
}

.header {
  display: flex;
  gap: 20px;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
  }

  .img {
    width: 300px;
    height: 300px;
    background-color: #818ba4;
    outline: 1px solid #818ba4;

    img {
      height: 300px;
      width: 300px;

      object-fit: cover;
    }
  }

  .top {
    .title {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .subtitle {
      font-size: 24px;
      margin-bottom: 15px;
    }

    .text {
      text-align: justify;
      line-height: 1.5;
      max-height: 120px;
      overflow: hidden;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .warning {
      color: #a71b21;
    }

    .buttons {
      display: flex;
      justify-content: center;
      column-gap: 20px;

      a {
        color: #000;
        font-size: 20px;
        transition: color 0.3s ease;

        &:hover {
          color: #818ba4;
        }
      }
    }
  }
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 30px 0;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  ul {
    width: 100%;
  }

  li {
    text-align: center;
    margin-bottom: 15px;
  }

  img {
    width: 100%;
    outline: 1px solid #818ba4;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1100px) {
  .modal {
    width: 100%;
    margin: 0;
    position: relative;
    padding: 40px 30px;
    background: #fff;
    border-radius: 0;
    color: #000;
  }

  .overlay {
    background-color: #fff;
  }
}

@media (max-width: 768px) {
  .modal {
    padding: 40px 10px;
  }

  .cross {
    right: 0;
  }

  .separator {
    margin: 10px 0;
  }

  .header {
    .top {
      .title {
        font-size: 24px;
        margin-bottom: 5px;
      }

      .subtitle {
        font-size: 18px;
        margin-bottom: 5px;
        width: 100%;
      }

      .text {
        font-size: 14px;
        max-height: 105px;
        width: 100%;
        margin-bottom: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }

    .img {
      width: 200px;
      height: 200px;

      img {
        height: 200px;
        width: 200px;
      }
    }

    .bottom {
      a {
        font-size: 16px;
      }

      .warning {
        font-size: 12px;
      }
    }
  }

  .main {
    .block {
      .title {
        font-size: 22px;
        margin-bottom: 10px;
      }

      li {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 576px) {
  .header {
    flex-direction: column;
    align-items: center;

    .info {
      .bottom {
        align-self: center;

        a {
          font-size: 20px;
        }
      }
    }

    .img {
      width: 250px;
      height: 250px;

      img {
        width: 250px;
        height: 250px;
      }
    }

    .top {

      .title,
      .subtitle,
      .text {
        text-align: center;
        margin-bottom: 10px;
      }

      .text {
        max-height: none;
        display: inline-block;
      }
    }

    .bottom {
      flex-direction: column-reverse;

      .warning {
        font-size: 14px;
        margin-top: 10px;
      }
    }
  }
}